nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

nav .menu a{
    color: rgb(105, 105, 105);
    text-decoration: none;
    margin: 10px;
    font-weight: 500;
}

nav .menu a:hover, nav .menu a.active{
    color: black;
}

@media (min-width: 768px){

    nav{
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (min-width: 992px){

    nav{
        padding-left: 100px;
        padding-right: 100px;
    }

}